:root {
  --blue: #0d2137;
  --orange: #ed5716;
  --dark-orange: #b7410e;
  --light-blue: #e0eaf5;
}

* {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  text-align: center;
  color: var(--light-blue);
  font-family: "Tilt Prism", cursive;
}

body {
  background-color: var(--blue);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 250px;
  max-height: 65vh;
  overflow-y: scroll;
}

li {
  color: var(--light-blue);
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  background-color: var(--orange);
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px;
}

.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

button {
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  background-color: var(--orange);
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  font-size: 16px;
  color: var(--light-blue);
}

button:hover {
  cursor: pointer;
  background-color: var(--dark-orange);
}

main {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 80vh;
}

textarea {
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  margin-right: 10px;
}

i.bx {
  color: var(--light-blue);
  cursor: pointer;
}
